.DS_Store
xcuserdata/
build/
DerivedData/
.swiftpm
.build/
*.js
node_modules
platforms/android/.idea/
platforms/android/.gradle
platforms/android/local.properties
platforms/android/library/src/main/assets/emojibase.json