name: Kotlin

on:
  push:
    branches: [ "main" ]
  pull_request:

# Enrich gradle.properties for CI/CD
env:
  GRADLE_OPTS: -Dorg.gradle.jvmargs="-Xmx4096m -Dfile.encoding=UTF-8 -XX:+HeapDumpOnOutOfMemoryError" -Dkotlin.daemon.jvm.options="-Xmx2560m" -Dkotlin.incremental=false
  CI_GRADLE_ARG_PROPERTIES: --stacktrace -PpreDexEnable=false --max-workers 4 --no-daemon
  ARCH: x86_64
  DEVICE: Nexus 5X

jobs:
  build:
    name: Validate Kotlin
    runs-on: ubuntu-latest
    strategy:
      matrix:
        api-level: [23]
    concurrency:
      # When running on main, use the sha to allow all runs of this workflow to run concurrently.
      # Otherwise only allow a single run of this workflow on each branch, automatically cancelling older runs.
      group: ${{ github.ref_name }}-${{ github.workflow }}
      cancel-in-progress: ${{ github.ref_name != 'main' }}

    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
      - uses: actions/setup-java@17f84c3641ba7b8f6deff6309fc4c864478f5d62 # v3
        with:
          distribution: 'temurin'
          java-version: '21'

      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6
        with:
            cache: "yarn"

      - name: Setup json generation
        run: "./scripts/setup.sh"
      
      - name: Gerenate json
        run: "./scripts/generateJson.sh"

      - name: Setup Gradle & Build test cases
        uses: gradle/gradle-build-action@a8f75513eafdebd8141bd1cd4e30fcd194af8dfa # v2
        with:
          build-root-directory: platforms/android
          arguments: |
            :library:assembleDebugAndroidTest ${{ env.CI_GRADLE_ARG_PROPERTIES }}
          cache-read-only: false
              
      - uses: reactivecircus/android-emulator-runner@b530d96654c385303d652368551fb075bc2f0b6b # v2
        with:
          working-directory: platforms/android
          api-level: ${{ matrix.api-level }}
          arch: ${{ env.ARCH }}
          profile: ${{ env.DEVICE }}
          emulator-options: -no-snapshot-save -no-window -gpu swiftshader_indirect -noaudio -no-boot-anim -camera-back none
          disable-animations: true
          enable-hw-keyboard: true
          disk-size: 3G
          # Workaround for https://github.com/ReactiveCircus/android-emulator-runner/issues/319
          script: |
            adb uninstall io.element.android.emojibasebindings.test; ./gradlew :library:connectedDebugAndroidTest ${{ env.CI_GRADLE_ARG_PROPERTIES }}
