name: Swift

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  build:
    name: Validate Swift
    runs-on: macos-15

    concurrency:
      # When running on main, use the sha to allow all runs of this workflow to run concurrently.
      # Otherwise only allow a single run of this workflow on each branch, automatically cancelling older runs.
      group: ${{ github.workflow }}
      cancel-in-progress: ${{ github.ref_name != 'main' }}

    steps:
    - uses: actions/checkout@v3
    - name: Set XCode 15.2
      run: sudo xcode-select -switch /Applications/Xcode_15.2.app

    - name: Tests
      run: exec ./platforms/ios/ios-tests.sh
