name: Static analysis

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  build:
    name: Validate emojibase.json
    runs-on: ubuntu-latest

    concurrency:
      # When running on main, use the sha to allow all runs of this workflow to run concurrently.
      # Otherwise only allow a single run of this workflow on each branch, automatically cancelling older runs.
      group: ${{ github.ref_name }}-${{ github.workflow }}
      cancel-in-progress: ${{ github.ref_name != 'main' }}

    steps:
    - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6

    - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6
      with:
          cache: "yarn"

    - name: Setup
      run: "./scripts/setup.sh"
    
    - name: Generate json
      run: "./scripts/generateJson.sh"

    - name: Validate it matches source
      run: "git diff --exit-code"
