name: Static analysis

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  build:
    name: Validate emojibase.json
    runs-on: ubuntu-latest

    concurrency:
      # When running on main, use the sha to allow all runs of this workflow to run concurrently.
      # Otherwise only allow a single run of this workflow on each branch, automatically cancelling older runs.
      group: ${{ github.ref_name }}-${{ github.workflow }}
      cancel-in-progress: ${{ github.ref_name != 'main' }}

    steps:
    - uses: actions/checkout@v3

    - uses: actions/setup-node@v3
      with:
          cache: "yarn"

    - name: Setup
      run: "./scripts/setup.sh"
    
    - name: Generate json
      run: "./scripts/generateJson.sh"

    - name: Validate it matches source
      run: "git diff --exit-code"
